.App {
  text-align: center;
}

.nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.navLinks{
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.product{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 10px;
}

.assortment{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}